
<html>
<head>
  <link rel="stylesheet" href="css/chart.css">
  <title>4WHEELS</title>
</head>
<body>  
    <p id="title">4WHEELS</p>
  
  

  <div class="bioContainer">
    <p id="bio">
      In this Page, you can see a plot where are represented the statistics compared each other.
      In addition are also reported the cars that have top speed,acceleration ecc. 
    </p>
  </div>

  <canvas id="myChart" onload="updateChart()"></canvas>

  <p id="maxSpeed"> </p>

  <p id="maxHorses"> </p>

  <p id="lightestWeight"> </p>

  <p id="maxAcc"> </p>

  <script src="js/chartsEngine.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>